<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:joda="http://www.joda.org/joda/time/tags" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />

	<spring:url value="/applications" var="showApplicationUrl" />

	<h1>Application Information</h1>

	<div id="applicationInfo">

		<c:if test="${not empty message}">
			<div id="message" class="${message.type}">${message.message}</div>
		</c:if>

		<table>
			<tr>
				<td>Name</td>
				<td>${application.name}</td>
			</tr>

			<tr>
				<td>Url</td>
				<td><a href="${application.url}">${application.url}</a></td>
			</tr>

		</table>


		<BR />
	
		<DIV style="text-align:right;">
		<a href="${showApplicationUrl}?form">
		<BUTTON type=""
			class="ui-button ui-widget ui-state-default ui-vorner-all ui-button-text-only">
			<span class="ui-button-text">New </span>
		</BUTTON>
		</a>
		
		<a href="${showApplicationUrl}/${application.id}?form">
		<BUTTON type=""
			class="ui-button ui-widget ui-state-default ui-vorner-all ui-button-text-only">
			<span class="ui-button-text">Edit </span>
		</BUTTON>
		</a>
		
		<a href="">
		<BUTTON type=""
			class="ui-button ui-widget ui-state-default ui-vorner-all ui-button-text-only">
			<span class="ui-button-text">Delete </span>
		</BUTTON>
		</a>
		</DIV>

	</div>

</div>