<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
     xmlns:c="http://java.sun.com/jsp/jstl/core"  
     xmlns:spring="http://www.springframework.org/tags"
     xmlns:form="http://www.springframework.org/tags/form"
     xmlns:joda="http://www.joda.org/joda/time/tags"
     version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>

    <spring:url value="/classifiers" var="editClassifierUrl"/>    
    <spring:url value="Edit Classifier" var="labelClassifierUpdate"/>    
    <spring:url value="/classifiers" var="editClassifierUrl"/>    

    <h1> Crawler Info </h1>

    <div id="crawlerInfo">

        <c:if test="${not empty message}">
            <div id="message" class="${message.type}">${message.message}</div>
        </c:if>

        <table>
            
            <tr>
                <td>Name</td>
                <td>${crawler.name}</td>
            </tr>
            
            <tr>
                <td>Status</td>
                <td>${crawler.status}</td>
            </tr>
            
           <tr>
                <td>Creation date</td>
                <td>${crawler.createDate}</td>
            </tr>
            
           	<tr>
                <td>Description</td>
                <td>${crawler.description}</td>
            </tr>
            
            <tr>
                <td>Nbr Of images</td>
                <td>${crawler.nbrOfImages}</td>
            </tr>
            
           
        </table>         
        <BR />
        <DIV style="text-align:right;">
		<BUTTON type=""
			class="ui-button ui-widget ui-state-default ui-vorner-all ui-button-text-only">
			<span class="ui-button-text">New </span>
		</BUTTON>

		<BUTTON type=""
			class="ui-button ui-widget ui-state-default ui-vorner-all ui-button-text-only">
			<span class="ui-button-text">Delete </span>
		</BUTTON>

		<BUTTON type=""
			class="ui-button ui-widget ui-state-default ui-vorner-all ui-button-text-only">
			<span class="ui-button-text">Delete </span>
		</BUTTON>
		</DIV>
       
                     
    </div>

</div>