<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:form="http://www.springframework.org/tags/form" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />

	<spring:message code="label_new_cimage" var="labelCimageNew"/>
    <spring:message code="label_update_cimage" var="labelCimageUpdate"/>
	

	<spring:eval
		expression="cimage.id == null ? labelCimageNew:labelCimageUpdate" var="formTitle" />


	<h1>${formTitle}</h1>

	<div id="cimageUpdate">
		<form:form modelAttribute="cimage" id="cimageUpdateForm" method="post">

			<c:if test="${not empty message}">
				<div id="message" class="${message.type}">${message.message}</div>
			</c:if>

			<form:label path="url"> Url* </form:label>
			<form:input path="url" />
			<div>
				<form:errors path="url" cssClass="error" />
			</div>
			
			
			<p />
			
			<form:label path="alt"> Alt </form:label>
			<form:input path="alt" />
			<div>
				<form:errors path="alt" cssClass="error" />
			</div>
			<p />
			
			
			<form:label path="fileName"> File Name* </form:label>
			<form:input path="fileName" />
			<div>
				<form:errors path="fileName" cssClass="error" />
			</div>
			<p />
			
			<form:label path="description"> Description </form:label>
			<form:input path="description" />
			<div>
				<form:errors path="description" cssClass="error" />
			</div>
			<p />
			
			
			<form:label path="createDate"> Create Date </form:label>
			<form:input path="createDate" />
			<div>
				<form:errors path="createDate" cssClass="error" />
			</div>
			<p />
			
			
			<form:hidden path="version" />

			<button type="submit">Save</button>
			<button type="reset">Reset</button>

		</form:form>
	</div>

</div>